{% extends "_layout.html" %}{% block body %}
{% if interstitial %}
<div class="overlay"></div>
<div class="notice"><b>System Notice</b><br><br>Nightly batch posting completed. Balances shown are as of 06:00.<br><br>
<form method="get" action="{{ base }}/app/members/search"><input type="submit" value="OK"></form></div>
{% endif %}
<br>
<table class="frm" border="1" cellspacing="0" bgcolor="#ffffff">
<tr><td colspan="2"><b>Member Inquiry</b></td></tr>
{% if field_error %}<tr><td colspan="2" class="err">{{ field_error }}</td></tr>{% endif %}
<form method="post" action="{{ base }}/app/members/search">
<tr><td>{{ t.member_label }}</td><td><input type="text" name="member_no" size="12"></td></tr>
<tr><td></td><td><input type="submit" value="{{ t.search_button }}"></td></tr>
</form>
</table>
{% endblock %}
